body {
  background-image: url(./img/spaceBG.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: white;
  z-index: 1;
}

#itemDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: fixed;
  background-color: transparent;
  text-align: center;
  color: black;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}


#superDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  height: 500px;
  width: 340px;
  margin: 25px;
}

div {
  text-align: center;
}
