body {
  background-color: #07102B;
  color: white;
  z-index: 1;
}

#itemDetail {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 55vh;
  position: fixed;
  top: 0px;
  left: 25vw;
  background-color: #244F45;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  row-gap: 80px;
  z-index: 10;
  padding: 10px;
  /* opacity: 0.70; */
}

#itemDetail img {
  opacity: 1;
}

#itemDetail button {
  position: absolute;
  top: 10px;
  right: 15px;
  /* margin-top: 25px; */
}

#superDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  height: 500px;
  width: 340px;
  margin: 25px;
}

div {
  text-align: center;
}
