body {
  background-color: #07102B;
  color: white;
  z-index: 1;
  overflow-x: hidden;
}

#itemDetail {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 55vh;
  position: fixed;
  top: 0px;
  left: 25vw;
  background-color: #244F45;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  row-gap: 80px;
  z-index: 10;
  padding: 10px;
  /* opacity: 0.70; */
}

#itemDetail img {
  opacity: 1;
}

#itemDetail button {
  position: absolute;
  top: 10px;
  right: 15px;
  /* margin-top: 25px; */
}

#superDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  height: 500px;
  width: 340px;
  margin: 25px;
}

/* #votesDiv { */
/*   display: flex; */
/* } */
.movieCarrousel {
  display: flex;
}

#carrouselButtom {
  position: relative;
  top: 10;
  left: 10;
}

#reportView img {
  height: 300px;
  width: 200px;
}

#reportView>div>button {
  position: absolute;
  left: 1vw;
  color: red;
  height: 20%;
  padding: 20px;
  margin-top: 80px;
  z-index: 1;
}

#reportView>div>button+button {
  position: absolute;
  left: 94.5vw;
  color: blue;
}

div {
  text-align: center;
}

.loadingGif {
  position: relative;
  left: 30%;
  top: 30%;
}

.star {
  font-size: 25px;
  color: yellow;
  background-color: transparent;
  border: none;
}

#divFavViewCarrousel {
  display: flex;
}

#divFavView>button {
  position: absolute;
  left: 1vw;
  color: red;
  height: 35%;
  padding: 25px;
  margin-top: 9%;
  z-index: 1;
}

#divFavView>button+button {
  position: absolute;
  left: 94.5vw;
  color: blue;
}

#loadingGif {
  position: relative;
  top: 23vh;
  left: 40vw;
}
